* {
  padding: 0px;
  border: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* Title Bar */
.titlebar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  font-style: uppercase;
  background-color: gray;
}

/* Title Bar Left */
.titlebar .titlebar-left {
  display: inline-block;
  font-size: 20px;
  width: 290px;
  margin: 15px;
  line-height: 20px;
  color: white;
}

/* Title Bar Middle */
.titlebar .search-bar {
  margin: 10px;
  height: 30px;
  position: relative;
  display: inline-block;
}

.titlebar .search-bar input {
  width: 320px;
  height: 100%;
  border-radius: 3px;
  padding-right: 40px;
}

.titlebar .search-bar .search-btn {
  border-radius: 3px;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: gray;
}

.titlebar .search-bar .search-btn:hover {
  background-color: lightgray;
  box-shadow: 0px 0px 2px gray;
}

/* Title Bar Right */
.titlebar .titlebar-right {
  height: 50px;
  width: 290px;
  position: relative;
}

.titlebar .titlebar-right img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.titlebar .titlebar-right img:hover {
  opacity: 0.8;
}

.titlebar .titlebar-right .user-center img {
  right: 20px;
}

.titlebar .titlebar-right .announcement-center img {
  right: 65px;
}

.titlebar .titlebar-right button {
  border-radius: 3px;
  height: 25px;
  top: 50%;
  transform: translateY(-50%);
}

.titlebar .titlebar-right #uploadBtn {
  position: absolute;
  right: 130px;
}

.titlebar .titlebar-right button:hover {
  background-color: lightgray;
  box-shadow: 0px 0px 2px gray;
}
